<div class='container-fluid' id='project-index-wrapper'>
  <div class='row'>
    <div class='col-xs-10 col-xs-offset-1'>
      <h3>Welcome to SNORLAX</h3>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-10 col-xs-offset-1'>
      <button type='button' data-target='#new-project-modal' class='btn btn-primary' data-toggle='modal'>New Project</button>
      <hr>
      <div id="pokeball">
        <p>Loading Project Status...</p>
      </div>
      <div class='list-group' id='projects-list'>
      </div>
    </div>
  </div>
  <%= render 'new_project_modal' %>
  <%= render 'project_template' %>
  <%= render 'job_template' %>
</div>
