<div class='container-fluid index-wrapper'>
  <div class='row'>
    <div class='col-xs-10'>
      <h3>Welcome to Snorlax, who sat on Mew and Gluestick</h3>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-10'>
      <% if @projects.empty? %>
        <p>You don't have any projects. click <%= link_to 'here', projects_new_path %> to create one.</p>
      <% else %>
        <%= link_to 'New Project', projects_new_path, class: 'btn btn-primary' %>
        <br>
        <ul class='list-group'>
          <% @projects.each do |project| %>
            <li class='list-group-item'>
              <%= project %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
